body {
  background-color: #f0f8ff;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: red; /* رنگ قرمز */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}body {
    font-family: 'Tahoma', sans-serif; /* فونت دلخواه */
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* حداقل ارتفاع صفحه */
    text-align: center;
}

#nameFormSection, #greetingSection {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    margin-left: 10px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px; /* عرض فیلد ورودی */
}

button {
    padding: 10px 15px;
    background-color: #1ec059; /* رنگ سبز */
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c; /* رنگ سبز تیره‌تر در حالت هاور */
}

h1 {
    color: #0800ff; /* رنگ آبی */
}
